{% extends 'base.html.twig' %}
{% block title %}<title>Armenia Tree Project - Backyard nurseries</title>{% endblock %}

{% block body %}

    <section class="backyard-nurseries secondary-pages-top-content" style="background:url('../uploads/images/20151028_115032jj.jpg') no-repeat; background-size:cover; background-position: 0;">
        <div class="container">
            <div class="row center-aligned-row">
                <div class="col-sm-6">
                    {% autoescape %}
                        <h1>BACKYARD NURSERIES</h1>
                    {% endautoescape %}
                </div>
                <div class="col-sm-6 cover-text">
                    {% autoescape %}
                        <p>Over 38 families in Armenia have harvested
                            over 40,000 trees, increasing their family
                            income by an average of over 30%.</p>
                    {% endautoescape %}
                </div>
            </div>
        </div>
    </section>

    <div class="backyard-nurseries-main-content-wrapper">
        <section class="community-second">
            <div class="container">
                <div class="row center-aligned-row">
                    <div class="col-md-6 col-xs-12">
                        {% autoescape %}
                        <p>{% trans %} backyard_first_text {% endtrans %}</p>
                        {% endautoescape %}
                        <a href="{{ path('bndonate', { 'lang': app.request.locale }) }}">
                            <button class="sponsor-backyard-nursery-btn">
                                {% trans %}Sponsor a Backyard Nursery {% endtrans %}
                            </button>
                        </a>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="support-families">
                            <div class="title-and-play-button-wrapper">
                                {% autoescape %}
                                        <h3> How Armenian Villagers Are Using Trees  </h3>
                                {% endautoescape %}
                                <a  data-toggle="modal" data-target="#how_planting_works"><img class="play-button" src="../img/play_btn.svg" alt=""></a>
                            </div>
                        </div>
                        <div class="modal fade" id="how_planting_works" tabindex="-1" role="dialog" aria-labelledby="how_planting_works"
                             aria-hidden="true">
                            <div class="modal-dialogg">
                                <div class="modal-contentt">
                                    <div class="modal-body">
                                        <button style="color: #ffffff; opacity: 1;" type="button" class="close" data-dismiss="modal"
                                                aria-hidden="true">&times;</button>
                                        <div class="video-container">
                                            <iframe width="560" height="315" src="https://youtu.be/IDHxpsufSTA" frameborder="0"  allowfullscreen></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row center-aligned-row">
                    <div class="col-md-6 col-xs-12">
                        <img src="../uploads/images/ATP Annual Report 2017-2018 Copy.png" alt="">
                    </div>
                    <div class="col-md-6">
                        {% autoescape %}
                            <p><p>The approximate average income for a family in these remote villages is less than $200 per month, according to interviews conducted by ATP. Often, families live off the produce of their land, or receive a modest pension or children&#39;s allowance from the government.</p>

                            <p>The BYN program allows them to almost double their income, giving them more financial stability and, in many cases, helping them to avoid leaving the country for work.</p>
                            </p>
                        {% endautoescape %}
                    </div>
                </div>
                <div class="row backyard-nurseries-info-panel-wrapper center-aligned-row">
                    <div class="col-md-6 col-xs-12">
                        {% autoescape %}
                            <p>
                            <p>ATP created the BYN Program as a way to increase their overall tree yield and offer remote villagers economic opportunity.</p>

                            <p>&nbsp;</p>

                            <p>Backyard Nursery Sponsors will receive reports from the family throughout the year with updates on the progress and results of their support.</p>
                            </p>
                        {% endautoescape %}
                    </div>
                    <div class="col-md-6 col-xs-12 backyard-nurseries-info-panel">
                        {% autoescape %}
                            <h5>Sponsorship Level</h5>
                            <p>$1,000/yr for two years</p>
                            <h5>Number Of Seedlings Per Nursery</h5>
                            <p>1,200-1,500</p>
                            <h5>Nursery Time Period</h5>
                            <p>2-3 years</p>
                            <h5>Expected Tree Yield</h5>
                            <p>85%</p>
                        {% endautoescape %}
                    </div>
                </div>
            </div>
        </section>

        <section class="acknowledgment-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <img src="../uploads/images/backyard-photo-two.jpg" alt="">
                    </div>
                    <div class="col-md-6 col-xs-12">
                        {% autoescape %}
                            <p><em>&quot;BYN rewards family farmers for good work, when we pay for trees that have been well cared for. The program received an Energy Globe Award at the European Parliament because of this program&#39;s positive impact on the three aspects of sustainability:<span> people, profit &amp; planet</span>.&rdquo;</em>
                            </p>
                        {% endautoescape %}
                        <p class="text-right">-- Arthur Harutyunyan <br/> ATP Operations Manager</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="community-last-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h4>FEATURED CONTENT</h4>
                    </div>
                    <div class="row">

                    </div>
                </div>
                <div class="row">
                    {% for item in bottom %}
                        {% if item.Position == 'first' %}
                            <div class="col-md-6">
                                <div class="first-content" style="background: url('../uploads/images/{{ item.Image }}') no-repeat; background-size: cover; height: 400px;">
                        {% elseif item.Position == 'second' %}
                            <div class="col-md-3">
                                <div class="second-content" style="background: url('../uploads/images/{{ item.Image }}') no-repeat; background-size: cover; height: 400px;">
                        {% elseif item.Position == 'third' %}
                            <div class="col-md-3">
                                <div class="third-content" style="background: url('../uploads/images/{{ item.Image }}') no-repeat; background-size: cover; height: 400px;">
                        {% endif %}
                        {% autoescape %}
                            <h3>
                                {{ item.Text|raw }}
                            </h3>
                        {% endautoescape %}
                        {% if item.LinkType == 'outter' %}
                            <a href="{{ item.Link }}">
                                <button> Donate</button>
                            </a>
                        {% elseif item.LinkType == 'inner' %}
                            <p>{{ item.createdAt.format('d M, Y') }}</p>
                            <a href="{{ item.Link }}">Read More</a>
                        {% endif %}
                                </div>
                            </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>



    <!--Footer Section-->

    <section class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <ul>
                        <li class="hidden">
                            <a href="#">Glossary</a>
                        </li>

                        <li>
                            <a href="{{ path('contact', { 'lang': app.request.locale }) }}">Contact Us</a>
                        </li><li>
                            <a href="#">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <ul>
                        <li class="hidden">
                            <a href="#">FAQ</a>
                        </li>
                        <li class="hidden">
                            <a href="#">Terms & Conditions</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"> </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <p> <span> Armenia Tree Project </span> <br> 400 West Cummings Park <br> Suite 3900, Woburn, MA 01801 USA <br> 617-926-TREE (8733)</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <p class="copyright-text">&copy; Copyright 1994-2019 Armenia Tree Project, a project of Armenian Assembly of America. All Rights Reserved.</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-right  social">
                    <p class="hashtag">#GetRooted</p>
                    <a target="_blank" href="https://www.facebook.com/armeniatree">
                        <img src="../img/facebook-logo.svg" alt="facebook">
                    </a>
                    <a target="_blank" href="https://twitter.com/ArmeniaTree">
                        <img src="../img/twitter-logo.svg" alt="twitter">
                    </a>
                    <a target="_blank" href="https://www.instagram.com/armeniatree/">
                        <img src="../img/instagram-logo.svg" alt="instagram">
                    </a>
                    <a target="_blank" href="https://www.youtube.com/user/ArmeniaTreeProject">
                        <img src="../img/youtube.svg" alt="youtube">
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- jQuery -->
    <script src="{{ asset('js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>

    <!-- Custom Js Files-->
    <script src="{{ asset('js/main.js') }}"></script>

{% endblock %}

