{% extends 'base.html.twig' %}
{% block title %}<title>Armenia Tree Project - News</title>{% endblock %}
{% block body %}

    <section class="economic-empowerment secondary-pages-top-content" style="background:url('../uploads/images/backyard-bck.jpg') no-repeat; background-size:cover; background-position: 0;">
        <div class="container">
            <div class="row center-aligned-row">
                <div class="col-sm-6">
                    <h1>{% trans %}ECONOMIC EMPOWERMENT{% endtrans %}</h1>
                </div>
                <div class="col-sm-6 cover-text">
                    <p>{% trans %}ATP employs<span> 88 full-time </span> staff in Armenia<br> and the US, and <span>150 seasonal workers </span>each <br>year. <span>38 families</span> have gained economic <br>independence by hosting Backyard<br> Nurseries{% endtrans %}</p>
                </div>
            </div>
        </div>
    </section>

    <div class="economic-empowerment-main-content-wrapper">

        <section class="community-second">
            <div class="visible-xs visible-sm">
                <div class="mobile-subdropdown-wrapper ">
                    <a href="/en/backyard">{% trans %}Backyard Nurseries{% endtrans %}</a>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-10 col-xs-12 text-center">
                        <p>{% trans %}In addition to sustaining the environment, ATP is supporting the economy of Armenia. As one of the largest employers in Armenia of both full time and seasonal workers, the Armenia Tree Project provides steady income for individuals and families. Many of the jobs are located in remote and refugee villages, making ATP’s economic contribution that much more impactful. The nurseries in Karin and Khachpar villages alone employ more than 15 full-time workers! <br><br> Our Mirak Family Reforestation Nursery in Margahovit Village supports our reforestation operations and employs 15 people in the Lori Valley. ATP’s Backyard Nursery program helps families in remote villages by allowing them to capitalize on their small parcels of land to grow seedlings for ATP over 1-3 years.{% endtrans %}</p>
                    </div>
                    <div class="col-lg-1"></div>
                </div>
            </div>
        </section>

        <section class="community-second economic-empowerment-articles">
            <div class="container">
                <div class="row center-aligned-row">
                    <div class="col-md-6 col-xs-12">
                        <img src="../uploads/images/economic-article-one.png" alt="">
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <h4>{% trans %}Meet Voskan in Chiva{% endtrans %}</h4>
                        <p>{% trans %}In 2016, Voskan Stepanyan was on the verge of packing his bag to leave Chiva for work in Russia when he heard about our new tree nursery opening in the village. An announcement was posted that ATP was hiring and Voskan decided to give it a shot. “It’s great knowing you’re going to get a decent salary in your own village . . . in your own home.” Since then, Voskan has been part of the team involved in all sorts of work at Chiva Nursery including planting, irrigating, and grafting trees.{% endtrans %}</p>
                    </div>
                </div>
                <div class="row center-aligned-row">
                    <div class="col-md-6 col-xs-12">
                        <h4>{% trans %}Meet Karine from Stepanavan{% endtrans %}</h4>
                        <p>{% trans %}For over 12 years, Karine Stepanyan from Stepanavan has relied on the income from seasonal employment at ATP. In addition to being paid fairly and consistently each season, she is proud of the impact she is making in Armenia and to our Earth. Karine was even able to get her son to join her in the field working for a few seasons before he joined the Army.{% endtrans %}</p>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <img src="../uploads/images/economic-article-two.png" alt="">
                    </div>
                </div>
                <div class="row center-aligned-row">
                    <div class="col-md-6 col-xs-12">
                        <img src="../uploads/images/ATP Annual Report 2017-2018 Copy.png" alt="">
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <h4>{% trans %}Meet Nona in Tavush{% endtrans %}</h4>
                        <p>{% trans %}Nona Davtyan, a village widow and refugee from Baku, dreamed of finding a way to create economic independence for herself and her family to maintain their own basic living needs.
                            &nbsp;Because of our Backyard Nursery program (BYN), Nona is able to plant and grow trees in her backyard for harvesting and add to her annual income. With ATP as her partner, Nona has supplemented her income 2x by transforming her land in Tavush into a&nbsp;nursery and growing between 1,000 - 1,200 trees annually.{% endtrans %}</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="community-last-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h4>{% trans %}FEATURED CONTENT{% endtrans %}</h4>
                    </div>
                    <div class="row">

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="first-content-video" style="background: url('../uploads/images/featured-content-video-bck.png') no-repeat; background-size: cover; height: 400px;">
                            <div class="support-families">
                                <div class="title-and-play-button-wrapper">
                                    <h3>{% trans %}How Armenian Villagers Are Using Trees<br>
                                        To Support Their Families{% endtrans %}</h3>
                                    <a data-toggle="modal" data-target="#how_planting_works"><img class="play-button" src="../img/play_btn.svg" alt=""></a>
                                </div>
                            </div>
                            <div class="modal fade" id="how_planting_works" tabindex="-1" role="dialog" aria-labelledby="how_planting_works" aria-hidden="true">
                                <div class="modal-dialogg">
                                    <div class="modal-contentt">
                                        <div class="modal-body">
                                            <button style="color: #ffffff; opacity: 1;" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            <div class="video-container">
                                                <iframe width="560" height="315" src="https://www.youtube.com/embed/IDHxpsufSTA" frameborder="0" allowfullscreen=""></iframe>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="second-content" style="background: url('../uploads/images/article-9.png') no-repeat; background-size: cover; height: 400px;">
                            <h3>{% trans %}Backyard Nurseries Provide Much-Needed Income in Rural Areas&nbsp;{% endtrans %}</h3>
                            <p>26 Apr, 2016</p>
                            <a href="/en/single?id=22">{% trans %}Read More{% endtrans %}</a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="third-content" style="background: url('../uploads/images/photo6.jpg') no-repeat; background-size: cover; height: 400px;">
                            <h3>{% trans %}Help us increase our planting efforts{% endtrans %}</h3>
                            <a href="/en/donation">
                                <button> {% trans %}Donate{% endtrans %}</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>




    <!--Footer Section-->

    <section class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <ul>
                        <li class="hidden">
                            <a href="#">Glossary</a>
                        </li>

                        <li>
                            <a href="{{ path('contact', { 'lang': app.request.locale }) }}">Contact Us</a>
                        </li><li>
                            <a href="#">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <ul>
                        <li class="hidden">
                            <a href="#">FAQ</a>
                        </li>
                        <li class="hidden">
                            <a href="#">Terms & Conditions</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"> </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <p> <span> Armenia Tree Project </span> <br> 400 West Cummings Park <br> Suite 3900, Woburn, MA 01801 USA <br> 617-926-TREE (8733)</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <p class="copyright-text">&copy; Copyright 1994-2019 Armenia Tree Project, a project of Armenian Assembly of America. All Rights Reserved.</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-right  social">
                    <p class="hashtag">#GetRooted</p>
                    <a target="_blank" href="https://www.facebook.com/armeniatree">
                        <img src="../img/facebook-logo.svg" alt="facebook">
                    </a>
                    <a target="_blank" href="https://twitter.com/ArmeniaTree">
                        <img src="../img/twitter-logo.svg" alt="twitter">
                    </a>
                    <a target="_blank" href="https://www.instagram.com/armeniatree/">
                        <img src="../img/instagram-logo.svg" alt="instagram">
                    </a>
                    <a target="_blank" href="https://www.youtube.com/user/ArmeniaTreeProject">
                        <img src="../img/youtube.svg" alt="youtube">
                    </a>
                </div>
            </div>
        </div>
    </section>


    <!-- jQuery -->
    <script src="{{ asset('js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>


    <!-- Custom Js Files-->
    <script src="{{ asset('js/main.js') }}"></script>





    </body>
    </html>
    {#<hr>#}
    {#<table>#}
        {#{% for object in pager.currentPageResults %}#}
            {#<tr>#}
                {#<td>{{ object.Title }}</td>#}
                {#<td>{{ object.Text }}</td>#}
            {#</tr>#}
        {#{% endfor %}#}
    {#</table>#}

    {#{% if pager.haveToPaginate %}#}
        {#{{ pagerfanta(pager) }}#}
    {#{% endif %}#}
    {#<hr>#}
{% endblock %}