{% extends 'base.html.twig' %}
{% block title %}<title>Armenia Tree Project - Fruit harvesting</title>{% endblock %}

{% block body %}

    <section class="fruit-harvesting secondary-pages-top-content" style="background:url('../uploads/images/fruit-harvesting-top-bck.jpg') no-repeat; background-size:cover;">
        <div class="container">
            <div class="row center-aligned-row">
                <div class="col-sm-6">
                    <h1>{% trans %} FRUIT HARVESTING {% endtrans %}</h1>
                </div>
                <div class="col-sm-6 cover-text">
                    <p>{% trans %} More than <span>5,800,000 </span>lbs of fruit has been harvested <br>from ATP’s trees to improve food security<br> at public institutions and in rural villages. {% endtrans %}</p>
                </div>
            </div>
        </div>
    </section>

    <div class="fruit-harvesting-main-content-wrapper">
        <section class="community-second">
            <div class="container">
                <div class="row center-aligned-row">
                    <div class="col-md-6">
                        <img src="../uploads/images/photofruitharvesting.jpg" alt="">
                    </div>
                    <div class="col-md-6">
                        <p>{% trans %} Our goal is to assist the Armenian people in using trees to improve their standard of living and protect the global environment.  In many regions we provide and assist with the planting of fruit trees in family’s backyards and on shared community land. These trees provide food and produce in which families can consume, preserve or sell as they see fit. Community plantings that contain fruit trees experience a significant impact on the community’s economic independence and sustainability. {% endtrans %}</p>
                    </div>
                </div>
            </div>
        </section>

        <!--Planting Model Section-->


        <section class="fruit-harvest-in-school-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h4>{% trans %} FRUIT HARVEST IN TSIATSAN SCHOOL, ARMAVIR {% endtrans %}</h4>
                        <p class="donor-name">{% trans %} donated by Clayton Carlisle {% endtrans %}</p>
                    </div>
                </div>


                <div class="visible-xs">
                    <div class="info-content">
                        <h5>{% trans %} Background {% endtrans %}</h5>
                        <p>{% trans %} Tsiatsan (rainbow) is a small village in the Kasagh river valley in the Armavir province. The climate is dry continental, meaning extremely hot summers and severely cold winters, making life in the village a struggle. Hot winds often damage crops, the main source of livelihood. {% endtrans %}</p>
                        <h5>{% trans %} The Need  {% endtrans %}</h5>
                        <p>{% trans %} The village needed to create a habitable environment at the village school, which was old and lacking vegetation. The harsh climate prohibited the students from going outdoors in the hotter months and the school community needed revitalizing. {% endtrans %}</p>
                    </div>
                    <div class="mobile-before-after-content">
                        <h6>{% trans %} Before {% endtrans %}</h6>
                        <img src="../uploads/images/Ararat_region_Khor_Virap_before.jpg">
                        <h6>{% trans %} After {% endtrans %}</h6>
                        <img src="../uploads/images/Ararat_region_Khor_Virap_after_2007.jpg">
                    </div>
                    <div class="info-content">
                        <h5>{% trans %}Background{% endtrans %}</h5>
                        <p>{% trans %} Tsiatsan (rainbow) is a small village in the Kasagh river valley in the Armavir province. The climate is dry continental, meaning extremely hot summers and severely cold winters, making life in the village a struggle. Hot winds often damage crops, the main source of livelihood. {% endtrans %}</p>
                        <h5>{% trans %} The Need {% endtrans %} </h5>
                        <p>{% trans %}The village needed to create a habitable environment at the village school, which was old and lacking vegetation. The harsh climate prohibited the students from going outdoors in the hotter months and the school community needed revitalizing. {% endtrans %}</p>
                    </div>
                    <div class="mobile-before-after-content">
                        <h6>{% trans %} Before {% endtrans %}</h6>
                        <img src="../uploads/images/after-one.jpg">
                        <h6>{% trans %} After {% endtrans %}</h6>
                        <img src="../uploads/images/atp-history-photo@2x.png">
                    </div>
                </div>
                <div class="visible-xs">
                    <div class="info-content">
                        <h5>{% trans %} The Solution {% endtrans %}</h5>
                        <p>{% trans %} From 2009-2016, ATP provided mainly fruit trees for beautifying the school grounds: apple, apricot, sour cherry, mulberry, pear, peach, jujube and almond. {% endtrans %} </p>
                        <h5>{% trans %} The Outcome {% endtrans %}  </h5>
                        <p>{% trans %} The school gardener sells the harvest and the profits go toward school supplies and more. School staff and students are active in planting activities, and children play games in the shade while older students pick fruit. The schoolyard has become a place where youth gather all year. {% endtrans %} </p>
                    </div>
                    <div class="mobile-before-after-content">
                        <h6>{% trans %} Before {% endtrans %}</h6>
                        <img src="../uploads/images/Syunik_region_St.jpg">
                        <h6>{% trans %} After {% endtrans %}</h6>
                        <img src="../uploads/images/Syunik_region_St_Gr.jpg">
                    </div>
                    <div class="info-content">
                        <h5>{% trans %} The Solution {% endtrans %}</h5>
                        <p>{% trans %} From 2009-2016, ATP provided mainly fruit trees for beautifying the school grounds: apple, apricot, sour cherry, mulberry, pear, peach, jujube and almond. {% endtrans %} </p>
                        <h5> {% trans %} The Outcome {% endtrans %}</h5>
                        <p>{% trans %} The school gardener sells the harvest and the profits go toward school supplies and more. School staff and students are active in planting activities, and children play games in the shade while older students pick fruit. The schoolyard has become a place where youth gather all year.  {% endtrans %}</p>
                    </div>
                    <div class="mobile-before-after-content">
                        <h6>{% trans %} Before {% endtrans %}</h6>
                        <img src="../uploads/images/carolyn-mugar.png">
                        <h6>{% trans %} After {% endtrans %}</h6>
                        <img src="../uploads/images/Dajadtribute.jpg">
                    </div>
                </div>


                <div class="before-after-slider-wrapper hidden-xs">
                    <div class="info-content">
                        <h5>{% trans %} Background {% endtrans %}</h5>
                        <p>{% trans %} Tsiatsan (rainbow) is a small village in the Kasagh river valley in the Armavir province. The climate is dry continental, meaning extremely hot summers and severely cold winters, making life in the village a struggle. Hot winds often damage crops, the main source of livelihood. {% endtrans %}</p>
                        <h5>{% trans %} The Need  {% endtrans %}</h5>
                        <p>{% trans %} The village needed to create a habitable environment at the village school, which was old and lacking vegetation. The harsh climate prohibited the students from going outdoors in the hotter months and the school community needed revitalizing. {% endtrans %} </p>
                    </div>
                    <div class="before-after-slider">
                        <div class="twentytwenty-wrapper twentytwenty-horizontal"><div class="twentytwenty-container" style="height: 490px;">
                                <!-- The before image is first -->
                                <img src="../uploads/images/Ararat_region_Khor_Virap_before.jpg" class="twentytwenty-before" style="clip: rect(0px, 267.52px, 490px, 0px);">
                                <!-- The after image is last -->
                                <img src="../uploads/images/Ararat_region_Khor_Virap_after_2007.jpg" class="twentytwenty-after" style="clip: rect(0px, 704px, 490px, 267.52px);">
                                <div class="twentytwenty-handle" style="left: 267.52px;"><span class="twentytwenty-left-arrow"></span><span class="twentytwenty-right-arrow"></span></div></div></div>
                    </div>
                </div>
                <div class="before-after-slider-wrapper hidden-xs">
                    <div class="before-after-slider">
                        <div class="twentytwenty-wrapper twentytwenty-horizontal"><div class="twentytwenty-container" style="height: 490px;">
                                <!-- The before image is first -->
                                <img src="../uploads/images/Syunik_region_St.jpg" class="twentytwenty-before" style="clip: rect(0px, 267.52px, 490px, 0px);">
                                <!-- The after image is last -->
                                <img src="../uploads/images/Syunik_region_St_Gr.jpg" class="twentytwenty-after" style="clip: rect(0px, 704px, 490px, 267.52px);">
                                <div class="twentytwenty-handle" style="left: 267.52px;"><span class="twentytwenty-left-arrow"></span><span class="twentytwenty-right-arrow"></span></div></div></div>
                    </div>
                    <div class="info-content">
                        <h6 class="before-label">{% trans %} BEFORE {% endtrans %}</h6>
                        <h6 class="after-label">{% trans %} AFTER {% endtrans %}</h6>
                        <h5>{% trans %} The Solution {% endtrans %}</h5>
                        <p>{% trans %} From 2009-2016, ATP provided mainly fruit trees for beautifying the school grounds: apple, apricot, sour cherry, mulberry, pear, peach, jujube and almond. {% endtrans %} </p>
                        <h5> {% trans %} FRUIT {% endtrans %}The Outcome </h5>
                        <p>{% trans %} The school gardener sells the harvest and the profits go toward school supplies and more. School staff and students are active in planting activities, and children play games in the shade while older students pick fruit. The schoolyard has become a place where youth gather all year. {% endtrans %} </p>
                    </div>
                </div>

                <div class="before-after-labels-wrapper hidden-xs">
                    <div class="second-labels-wrapper">
                        <div class="text-center">
                            <h6 class="before-label">{% trans %} BEFORE {% endtrans %}</h6>
                        </div>
                        <div class="text-center">
                            <h6 class="after-label">{% trans %} AFTER {% endtrans %}</h6>
                        </div>
                    </div>
                    <div>

                    </div>
                </div>
            </div>
        </section>

        <section class="analytics-content-wrapper">
            <div class="container">
                <div class="single-analytics-content-wrapper">
                    <div class="single-analytics">
                        <img src="../img/tree-silhouette.svg" alt="">
                        <div>
                            <h5>1,336</h5>
                            <p>{% trans %} TREES PLANTED AT THE SCHOOL {% endtrans %}</p>
                        </div>
                    </div>
                    <div class="single-analytics">
                        <img src="../img/fields.svg" alt="">
                        <div>
                            <h5>90%</h5>
                            <p>{% trans %} SURVIVAL RATE {% endtrans %}</p>
                        </div>
                    </div>
                    <div class="single-analytics">
                        <img src="../img/peach.svg" alt="">
                        <div>
                            <h5>2,964 lbs.</h5>
                            <p>{% trans %} FRUIT HARVESTED {% endtrans %}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="community-last-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h4>{% trans %} FEATURED CONTENT {% endtrans %}</h4>
                    </div>
                    <div class="row">

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="first-content" style="background: url('../uploads/images/article-15.png') no-repeat; background-size: cover; height: 400px;">
                            <h3>{% trans %} Knowledge Corner ATP Propagates Rare and Endangered Species at Karin Nursery {% endtrans %}</h3>
                            <p>17 Jul, 2018</p>
                            <a href="{{ path('app.get_news_collection', {'lang': app.request.locale, 'id': 12 }) }}">{% trans %} Read More {% endtrans %}</a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="second-content" style="background: url('../uploads/images/article-5 (1).png') no-repeat; background-size: cover; height: 400px;">
                            <h3>{% trans %} Eco-Tours Are Putting This Small Village in Armenia on the Map {% endtrans %}</h3>
                            <p>24 Sep, 2018</p>
                            <a href="{{ path('app.get_news_collection', {'lang': app.request.locale, 'id': 18 }) }}">{% trans %} Read More {% endtrans %}</a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="third-content" style="background: url('../uploads/images/photo6.jpg') no-repeat; background-size: cover; height: 400px;">
                            <h3>{% trans %} Call for Annual Tree Planting in Goris {% endtrans %}</h3>
                            <a href="{{ path('donation',{ 'lang': app.request.locale }) }}">
                                <button> {% trans %} Donate {% endtrans %}</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>




    <!--Footer Section-->

    <section class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <ul>
                        <li class="hidden">
                            <a href="#">Glossary</a>
                        </li>

                        <li>
                            <a href="{{ path('contact',{ 'lang': app.request.locale }) }}">Contact Us</a>
                        </li><li>
                            <a href="#">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <ul>
                        <li class="hidden">
                            <a href="#">FAQ</a>
                        </li>
                        <li class="hidden">
                            <a href="#">Terms & Conditions</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"> </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <p> <span> Armenia Tree Project </span> <br> 400 West Cummings Park <br> Suite 3900, Woburn, MA 01801 USA <br> 617-926-TREE (8733)</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <p class="copyright-text">&copy; Copyright 1994-2019 Armenia Tree Project, a project of Armenian Assembly of America. All Rights Reserved.</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-right  social">
                    <p class="hashtag">#GetRooted</p>
                    <a target="_blank" href="https://www.facebook.com/armeniatree">
                        <img src="../img/facebook-logo.svg" alt="facebook">
                    </a>
                    <a target="_blank" href="https://twitter.com/ArmeniaTree">
                        <img src="../img/twitter-logo.svg" alt="twitter">
                    </a>
                    <a target="_blank" href="https://www.instagram.com/armeniatree/">
                        <img src="../img/instagram-logo.svg" alt="instagram">
                    </a>
                    <a target="_blank" href="https://www.youtube.com/user/ArmeniaTreeProject">
                        <img src="../img/youtube.svg" alt="youtube">
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="{{ asset('js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('js/jquery.event.move.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('js/jquery.twentytwenty.js') }}"></script>


    <!-- Custom Js Files-->
    <script src="{{ asset('js/main.js') }}"></script>


    <script>
        $(window).load(function(){
            let windowWidth = $(window).width();
            if(windowWidth <= 767) {
                $(".twentytwenty-container").twentytwenty({
                    default_offset_pct: '50%', // How much of the before image is visible when the page loads
                    orientation: 'horizontal', // Orientation of the before and after images ('horizontal' or 'vertical')
                    no_overlay: true, //Do not show the overlay with before and after
                    move_slider_on_hover: false, // Move slider on mouse hover?
                    move_with_handle_only: true, // Allow a user to swipe anywhere on the image to control slider movement.
                    click_to_move: true // Allow a user to click (or tap) anywhere on the image to move the slider to that location.
                });
                let imgWidth = $(".twentytwenty-container img").width()/2;

                // On the container, apply a left offset of 50% (screen center) - minus half image width.
                $(".twentytwenty-container").css({"position":"relative","left":"calc(0% - "+ imgWidth+ "px)"});
            } else {
                $(".twentytwenty-container").twentytwenty({
                    default_offset_pct: 0.38, // How much of the before image is visible when the page loads
                    orientation: 'horizontal', // Orientation of the before and after images ('horizontal' or 'vertical')
                    no_overlay: true, //Do not show the overlay with before and after
                    move_slider_on_hover: false, // Move slider on mouse hover?
                    move_with_handle_only: true, // Allow a user to swipe anywhere on the image to control slider movement.
                    click_to_move: false // Allow a user to click (or tap) anywhere on the image to move the slider to that location.
                });
            }
        });
    </script>

{% endblock %}