{% extends 'base.html.twig' %}
{% block title %}<title>Armenia Tree Project - Mirak Nursery</title>{% endblock %}
{% block body %}

    <section class="mirak-nursery-top-content secondary-pages-top-content" style="background:url('../uploads/images/mirak-nursery-bck.JPG') no-repeat; background-size:cover;">
        <div class="container">
            <div class="row center-aligned-row">
                <div class="col-sm-12">
                    <h1>MIRAK FAMILY<br>
                        NURSERY</h1>
                </div>
            </div>
        </div>
    </section>

    <div class="mirak-nursery-content-wrapper">
        <section class="community-second">
            <div class="container">
                <div class="row center-aligned-row">
                    <div class="col-md-6 col-xs-12">
                        <p></p><p>The Mirak Family Reforestation Tree Nursery opened in Margahovit village in 2005 sponsored by the Mirak family in honor of Mr. and Mrs. John and Artemis Mirak, genocide survivors who settled in America. The nursery supports ATP’s forestry activities and has the capacity to grow one million tree seedlings. It has provided 15 tree species and currently employs 15 local villagers full time. As of the 2016 spring planting season, all 3,789,720 seedlings planted by the forestry program have been propagated in Mirak nursery. </p><p></p>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <img src="../uploads/images/mirak-nursery-photo-one.JPG" alt="">
                    </div>
                </div>
                <div class="row center-aligned-row">
                    <div class="col-md-6 col-xs-12">
                        <img src="../uploads/images/IMG_3568.JPG" alt="">
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <p><strong>Facts about the Mirak Nursery:</strong>
                        </p><ul>
                            <li>Varieties of trees grown – ash, pine, wild apple, wild pear, oak beech</li>
                            <li>Over 1,000kg (2,200lbs) of seeds sown annually</li>
                            <li>A new pipeline installed provided water to the nursery and 32 village families</li>
                            <li>All 90 hectares of land secured in Tashir were planted with Mirak seedlings in 2016-2017</li>
                            <li>A new greenhouse provides higher survival rate for other types of seedlings to be planted throughout the other regions of Armenia.</li>
                        </ul><p></p>
                    </div>
                </div>
            </div>
        </section>


        <section class="community-last-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h4>FEATURED CONTENT</h4>
                    </div>
                    <div class="row">

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="first-content mirak-nursery-ft-content-one" style="background: url('../uploads/images/volunteer-bck.png') no-repeat; background-size: cover; height: 400px;">
                            <h3>Volunteer with ATP</h3>
                            <a href="{{ path('volunteer',{ 'lang': app.request.locale }) }}">Learn More</a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="second-content" style="background: url('../uploads/images/photo.png') no-repeat; background-size: cover; height: 400px;">
                            <h3>ATP Continues to Make a Difference on the Landscape of Armenia, One Tree at a Time</h3>
                            <p>05 Dec, 2018</p>
                            <a href="{{ path('app.get_news_collection', {'lang': app.request.locale, 'id': 19 }) }}">Learn More</a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="third-content" style="background: url('../uploads/images/photo6.jpg') no-repeat; background-size: cover; height: 400px;">
                            <h3>Donate to the ATP Annual Appeal Today</h3>
                            <a href="{{ path('donation',{ 'lang': app.request.locale }) }}">
                                <button>Donate</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </div>




    <!--Footer Section-->

    <section class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <ul>
                        <li class="hidden">
                            <a href="#">Glossary</a>
                        </li>

                        <li>
                            <a href="{{ path('contact',{ 'lang': app.request.locale }) }}">Contact Us</a>
                        </li><li>
                            <a href="#">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <ul>
                        <li class="hidden">
                            <a href="#">FAQ</a>
                        </li>
                        <li class="hidden">
                            <a href="#">Terms & Conditions</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"> </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <p> <span> Armenia Tree Project </span> <br> 400 West Cummings Park <br> Suite 3900, Woburn, MA 01801 USA <br> 617-926-TREE (8733)</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <p class="copyright-text">&copy; Copyright 1994-2019 Armenia Tree Project, a project of Armenian Assembly of America. All Rights Reserved.</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-right  social">
                    <p class="hashtag">#GetRooted</p>
                    <a target="_blank" href="https://www.facebook.com/armeniatree">
                        <img src="../img/facebook-logo.svg" alt="facebook">
                    </a>
                    <a target="_blank" href="https://twitter.com/ArmeniaTree">
                        <img src="../img/twitter-logo.svg" alt="twitter">
                    </a>
                    <a target="_blank" href="https://www.instagram.com/armeniatree/">
                        <img src="../img/instagram-logo.svg" alt="instagram">
                    </a>
                    <a target="_blank" href="https://www.youtube.com/user/ArmeniaTreeProject">
                        <img src="../img/youtube.svg" alt="youtube">
                    </a>
                </div>
            </div>
        </div>
    </section>


    <!-- jQuery -->
    <script src="{{ asset('js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>


    <!-- Custom Js Files-->
    <script src="{{ asset('js/main.js') }}"></script>





    </body>
    </html>
    {#<hr>#}
    {#<table>#}
    {#{% for object in pager.currentPageResults %}#}
    {#<tr>#}
    {#<td>{{ object.Title }}</td>#}
    {#<td>{{ object.Text }}</td>#}
    {#</tr>#}
    {#{% endfor %}#}
    {#</table>#}

    {#{% if pager.haveToPaginate %}#}
    {#{{ pagerfanta(pager) }}#}
    {#{% endif %}#}
    {#<hr>#}
{% endblock %}