{% extends 'base.html.twig' %}
{% block title %}<title>Armenia Tree Project - News</title>{% endblock %}

{% block body %}

    <!--New Listing-->

    <section class="news-main-page">
        <div class="container">
            <h1>NEWS</h1>
            {% for item in pager.currentPageResults %}
                <div class="row">
                    <div class="col-lg-6 col-xs-12 news-related-photo-wrapper">
                        <div class="news-image-wrapper">
                            <img src="../uploads/images/{{ item.Image }}" alt="news-photo">
                            <div class="image-overlay"></div>
                            <p class="news-date">{{ item.createdAt.format('d M, Y') }}</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xs-12 news-related-short-description-wrapper">
                        {% autoescape %}
                                <h5>{{ item.Title|raw }}</h5>
                        {% endautoescape %}
                        {% autoescape %}
                                <p>{{ item.Text|truncate(300, true)|raw }}</p>
                        {% endautoescape %}
                        <a href="{{ path('single', {'id': item.Id}) }}">READ MORE</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

    {% if pager.haveToPaginate %}
        <div class="pagerfanta">
            {{ pagerfanta(pager, 'my_view_1') }}
        </div>
    {% endif %}

    <!--Footer Section-->

    <section class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <ul>
                        <li class="hidden">
                            <a href="#">Glossary</a>
                        </li>

                        <li>
                            <a href="{{ path('contact',{ 'lang': app.request.locale }, {'lang': app.request.locale }) }}">Contact Us</a>
                        </li><li>
                            <a href="#">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <ul>
                        <li class="hidden">
                            <a href="#">FAQ</a>
                        </li>
                        <li class="hidden">
                            <a href="#">Terms & Conditions</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"></div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <p><span> Armenia Tree Project </span> <br> 400 West Cummings Park <br> Suite 3900, Woburn, MA 01801 USA
                        <br> 617-926-TREE (8733)</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <p class="copyright-text">&copy; Copyright 1994-2019 Armenia Tree Project, a project of Armenian
                        Assembly of America. All Rights Reserved.</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-right  social">
                    <p class="hashtag">#GetRooted</p>
                    <a target="_blank" href="https://www.facebook.com/armeniatree">
                        <img src="../img/facebook-logo.svg" alt="facebook">
                    </a>
                    <a target="_blank" href="https://twitter.com/ArmeniaTree">
                        <img src="../img/twitter-logo.svg" alt="twitter">
                    </a>
                    <a target="_blank" href="https://www.instagram.com/armeniatree/">
                        <img src="../img/instagram-logo.svg" alt="instagram">
                    </a>
                    <a target="_blank" href="https://www.youtube.com/user/ArmeniaTreeProject">
                        <img src="../img/youtube.svg" alt="youtube">
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- jQuery -->
    <script src="{{ asset('js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>

    <!-- Custom Js Files-->
    <script src="{{ asset('js/main.js') }}"></script>

{% endblock %}

