{% extends 'base.html.twig' %}
{% block title %}<title>Armenia Tree Project - Backyard nurseries</title>{% endblock %}

{% block body %}

    <section class="our-mission secondary-pages-top-content" style="background:url('../uploads/images/1994 Noyakert planting.jpg') no-repeat; background-size:cover;">
        <div class="container">
            <div class="row center-aligned-row">
                <div class="col-sm-6">
                    <h1>ATP MISSION</h1>
                </div>
                <div class="col-sm-6 cover-text">
                    <p>Our goal is to assist the Armenian people in using trees to improve their standard of living and protect the global environment. In so doing, we are guided by the need to promote self-sufficiency, aid those with the fewest resources first, and conserve the indigenous ecosystem.</p>
                </div>
            </div>
        </div>
    </section>

    <div class="our-mission-main-content-wrapper">

        <section class="community-second">
            <div class="container">
                <div class="row center-aligned-row">
                    <div class="col-md-6 col-xs-12">
                        <div class="fact-check-wrapper">
                            <h4>Fast check</h4>


                            <ul>
                                <li>Over 1,200 communities throughout Armenia and Artsakh
                                    have been revitalized by ATP’s plantings </li>
                                <li>ATP is one of the largest NGO employers in Armenia with over 80 full time workers and 120 seasonal workers </li>
                                <li>ATP plants in all 11 regions of Armenia and Artsakh </li>
                                <li>Over 30,000 students and teachers have participated in
                                    ATP’s educational programs </li>
                                <li>Over 5.7M trees have been planted by ATP since 1994
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <p>For the past 25 years, Armenia Tree Project has mastered the art of growing and planting trees in Armenia, and honed its ability to produce healthy trees to sustain and propagate the country’s natural resources. ATP’s solution is holistic: both nature and people are integral forces that must work together to create a sustainable, healthy and non-threatening environment.</p>

                        <p>ATP focuses its work on finding synergies between people and planet that will impact the long-term sustainability of Armenia’s land and environment. This approach allows us to optimize the use of our resources and the potential for strong tree propagation and survival.</p>
                    </div>
                </div>
                <div class="row center-aligned-row">
                    <div class="col-md-6 col-xs-12">
                        <img src="../uploads/images/carolyn.jpg" alt="">
                    </div>
                    <div class="col-md-6">
                        <h5>HISTORY</h5>
                        <p>Armenia Tree Project (ATP) was founded in 1994 by philanthropist Carolyn Mugar who, during the winter of 1992, witnessed thousands of trees being cut down by families desperate to heat their homes. With the future of Armenia in mind, ATP was born as a project of the Armenian Assembly of America.</p>

                        <p>The first tree planting was at Nork Senior Center. From there, ATP considered the best way to source a reliable supply of healthy trees and quickly established nurseries in the refugee villages of Karin and Khachpar. These villages were chosen because they have fertile ground, and because there was a great need for employment when Armenians were relocated to these villages during the Artsakh War.</p>
                    </div>
                </div>
                <div class="row center-aligned-row">
                    <div class="col-md-6 col-xs-12">
                        <p>Over the years, hundreds of thousands of fruit and decorative trees have been planted by ATP's flagship Community Tree Planting program, at more than 1,200 sites in every region of Armenia including Artsakh. Fruit trees are distributed to thousands of village residents and decorative trees planted at most of Armenia's top tourist sites including Khor Virap, Noravank, and Tatev.<br>
                            Realizing the importance of creating global stewards of the environment, in 2004 ATP expanded its programs to include environmental education. At the same time, ATP published Armenia's first-ever environmental education manual called 'Plant an Idea, Plant a Tree' and established the Michael and Virginia Ohanian Environmental Education Centers in Karin and Margahovit villages. Over the years the program has grown to have an outreach of around 300 schools. 32,131 students have attended EnviroED trainings in the Ohanian Centers for Environmental Studies. Those students are continuously being supported by 1,622 teachers trained by ATP so far from various communities of Armenia and Artsakh. Thousands of students have been visited by ATP in their schools and during summer camps.</p>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="our-mission-plant-hope">
                            <div class="title-and-play-button-wrapper">
                                <h3>Plant a Tree, Plant Hope</h3>
                                <a data-toggle="modal" data-target="#how_planting_works"><img class="play-button" src="../img/play_btn.svg" alt=""></a>
                            </div>
                        </div>
                        <div class="modal fade" id="how_planting_works" tabindex="-1" role="dialog" aria-labelledby="how_planting_works" aria-hidden="true">
                            <div class="modal-dialogg">
                                <div class="modal-contentt">
                                    <div class="modal-body">
                                        <button style="color: #ffffff; opacity: 1;" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        <div class="video-container">
                                            <iframe width="560" height="315" src="https://www.youtube.com/embed/b1SY93brntY" frameborder="0" allowfullscreen=""></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row center-aligned-row">
                    <div class="col-md-6 col-xs-12">
                        <img src="../uploads/images/200$.jpg" alt="">
                    </div>
                    <div class="col-md-6">
                        <p>In addition to Community Tree Planting, ATP started reforestation efforts in northern Armenia. The Mirak Family Reforestation Nursery was opened in Margahovit Village, which provides hundreds of thousands of tree seedlings for ATP's rural forestry programs. This program rehabilitates devastated rural and urban areas and provides people with the resources and incentives to improve their local environment. One of the oldest and most well-established sites is the Hrant Dink Memorial Forest in Lori, which was planted as a living memorial to the Armenian journalist.<br>
                        <br>
                        ATP also developed the Backyard Nursery Micro-Enterprise Program which received an Energy Globe Award for Sustainability at the European Parliament. The backyard nursery program trains families to grow seedlings on their own land. When trees are large enough to be replanted, ATP purchases the seedlings and plants them in nearby sites. Currently, there are 40 families growing trees and benefiting from this vital extra income in the villages of Aghavnavank, Margahovit, and Keti.</p>
                    </div>
                </div>
                <div class="row center-aligned-row">
                    <div class="col-md-6">

                        <p>As ATP begins to expand its plantings into southern Armenia, there is a need for trees grown in the same climate and elevation. The newest ATP nursery is in Chiva, a village in Armenia's burgeoning wine region Vayots Dzor.</p>
                        <p> For more than 25 years, ATP has been living the mission to assist the Armenian people in using trees to improve their standard of living and protect the environment. In so doing, ATP has promoted self-sufficiency, aided those with the fewest resources first, and helped conserved the indigenous ecosystem.</p>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <img src="../uploads/images/Build. vridge. cover.jpg" alt="">
                    </div>
                </div>
            </div>
        </section>

        <section class="community-last-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h4>FEATURED CONTENT</h4>
                    </div>
                    <div class="row">

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="first-content" style="background: url('../uploads/images/featured-content-video-bck.png') no-repeat; background-size: cover; height: 400px;">
                            <h3>Carolyn Mugar on the importance of ‘digging in’</h3>
                            <p>08 Jan, 2016</p>
                            <a href="https://www.bostonglobe.com/lifestyle/style/2016/01/08/carolyn-mugar-importance-digging/4LwPfGnDxAt5OkaPMnOvoI/story.html">Read More</a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="second-content" style="background: url('../uploads/images/ATP Tree Planting in Aparan - May 2018.jpg') no-repeat; background-size: cover; height: 400px;">
                            <h3>Annual Report: 25 Years of Sustaining, Empowering, and Teaching</h3>
                            <p>19 Mar, 2019</p>
                            <a href="{{ path('app.get_news_collection', {'lang': app.request.locale, 'id': 26 }) }}">Read More</a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="third-content" style="background: url('../uploads/images/photo6.jpg') no-repeat; background-size: cover; height: 400px;">
                            <h3>Donate to the ATP Annual Appeal Today</h3>
                            <button href="{{ path('donation',{ 'lang': app.request.locale }) }}"> Donate</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>



    <!--Footer Section-->

    <section class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <ul>
                        <li class="hidden">
                            <a href="#">Glossary</a>
                        </li>

                        <li>
                            <a href="{{ path('contact',{ 'lang': app.request.locale }) }}">Contact Us</a>
                        </li><li>
                            <a href="#">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <ul>
                        <li class="hidden">
                            <a href="#">FAQ</a>
                        </li>
                        <li class="hidden">
                            <a href="#">Terms & Conditions</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"> </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <p> <span> Armenia Tree Project </span> <br> 400 West Cummings Park <br> Suite 3900, Woburn, MA 01801 USA <br> 617-926-TREE (8733)</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <p class="copyright-text">&copy; Copyright 1994-2019 Armenia Tree Project, a project of Armenian Assembly of America. All Rights Reserved.</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-right  social">
                    <p class="hashtag">#GetRooted</p>
                    <a target="_blank" href="https://www.facebook.com/armeniatree">
                        <img src="../img/facebook-logo.svg" alt="facebook">
                    </a>
                    <a target="_blank" href="https://twitter.com/ArmeniaTree">
                        <img src="../img/twitter-logo.svg" alt="twitter">
                    </a>
                    <a target="_blank" href="https://www.instagram.com/armeniatree/">
                        <img src="../img/instagram-logo.svg" alt="instagram">
                    </a>
                    <a target="_blank" href="https://www.youtube.com/user/ArmeniaTreeProject">
                        <img src="../img/youtube.svg" alt="youtube">
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- jQuery -->
    <script src="{{ asset('js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>

    <!-- Custom Js Files-->
    <script src="{{ asset('js/main.js') }}"></script>

{% endblock %}

