{% extends 'base.html.twig' %}
{% block title %}<title>Armenia Tree Project - Coloring</title>{% endblock %}

    {% block body %}

    <section class="bridges-interactive-secondary-menu">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-xs-12">
                    <ul class="secondary-navbar">
                        <li>
                            <a href="{{ path('ecogames') }}">EcoGames</a>
                        </li>
                        <li>
                            <a href="{{ path('bbmagazine') }}">Magazines</a>
                        </li>
                        <li>
                            <a href="{{ path('videos') }}">Videos</a>
                        </li>
                        <li>
                            <a href="{{ path('tchalo') }}">Meet Tchalo!</a>
                        </li>
                        <li>
                            <a href="{{ path('coloring') }}">Coloring</a>
                        </li>
                        <li>
                            <a href="{{ path('treevia') }}">Treevia!</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4 col-xs-12 text-right">
                    <a href="{{ path('interactive') }}">
                        <img src="../img/bb-interactive.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>


    <section class="bb-magazines-and-games-wrapper coloring-page">
        <div class="container">
            <h4>COLORING</h4>
            <div class="row">
                <div class="col-sm-4 col-xs-12 text-center">
                    <img src="../img/Coloring-Farm.png" alt="">
                    <h5>Farms</h5>
                    <a  class="english-version" href="./coloring-images/Farm.jpg" download>DOWNLOAD</a>
                </div>
                <div class="col-sm-4 col-xs-12 text-center">
                    <img src="../img/Coloring-Forest.png" alt="">
                    <h5>Forest</h5>
                    <a target="_blank" class="english-version" href="./coloring-images/Forest.jpg" download>DOWNLOAD</a>
                </div>
                <div class="col-sm-4 col-xs-12 text-center">
                    <img src="../img/Coloring-Squirrel.png" alt="">
                    <h5>Squirrel</h5>
                    <a target="_blank" class="english-version" href="./coloring-images/Squirrel.jpg" download>DOWNLOAD</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-xs-12 text-center">
                    <img src="../img/Coloring-Climate.png" alt="">
                    <h5>Climate Change is Changing Our World</h5>
                    <a target="_blank" class="english-version" href="./coloring-images/climate.jpg" download>DOWNLOAD</a>
                </div>
            </div>
        </div>
    </section>

    <!--Footer Section-->

    <section class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <ul>
                        <li class="hidden">
                            <a href="#">Glossary</a>
                        </li>

                        <li>
                            <a href="{{ path('contact') }}">Contact Us</a>
                        </li><li>
                            <a href="#">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <ul>
                        <li class="hidden">
                            <a href="#">FAQ</a>
                        </li>
                        <li class="hidden">
                            <a href="#">Terms & Conditions</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"> </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <p> <span> Armenia Tree Project </span> <br> 400 West Cummings Park <br> Suite 3900, Woburn, MA 01801 USA <br> 617-926-TREE (8733)</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <p class="copyright-text">&copy; Copyright 1994-2019 Armenia Tree Project, a project of Armenian Assembly of America. All Rights Reserved.</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-right  social">
                    <p class="hashtag">#GetRooted</p>
                    <a target="_blank" href="https://www.facebook.com/armeniatree">
                        <img src="../img/facebook-logo.svg" alt="facebook">
                    </a>
                    <a target="_blank" href="https://twitter.com/ArmeniaTree">
                        <img src="../img/twitter-logo.svg" alt="twitter">
                    </a>
                    <a target="_blank" href="https://www.instagram.com/armeniatree/">
                        <img src="../img/instagram-logo.svg" alt="instagram">
                    </a>
                    <a target="_blank" href="https://www.youtube.com/user/ArmeniaTreeProject">
                        <img src="../img/youtube.svg" alt="youtube">
                    </a>
                </div>
            </div>
        </div>
    </section>

        <!-- jQuery -->
    <script src="{{ asset('js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>

    <!-- Custom Js Files-->
    <script src="{{ asset('js/main.js') }}"></script>

{% endblock %}