{% extends 'base.html.twig' %}
{% block title %}<title>Armenia Tree Project - Interactive</title>{% endblock %}

{% block body %}

    {% include(':interactive:secondary-menu.html.twig') %}
    <section class="bridges-interactive-slider-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="owl-carousel owl-theme">
                        {% for item in slider %}
                            <div class="bb-slide-one" style="background:url('../uploads/images/{{ item.Image }}') no-repeat; background-size:cover; background-position: 0; height: 550px">
                                <div class="bb-slide-text-wrapper">
                                    {% autoescape %}
                                            <p>{{ item.Title|raw }}</p>
                                            <h1>{{ item.Text|raw }}</h1>
                                    {% endautoescape %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="bb-interactive-pictured-menu">
        <div class="container">
            {% set total = 1 %}
            <div class="row">
                {% for item in bottom %}
                    {% if total == 4 %}
                        <div class="row">
                    {% endif %}
                        <div class="col-sm-4 col-xs-12">
                            <a href="{{ item.path }}">
                                <div>
                                    <img src="../uploads/images/{{ item.Image }}" alt="">
                                    <div class="menu-title games" style="background-color: {% autoescape %}{{ item.Color|raw }}{% endautoescape %};">
                                        {% autoescape %}
                                                <p>{{ item.Title|raw }}</p>
                                        {% endautoescape %}
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% if total == 3 %}
                        </div>
                    {% endif %}
                    {% set total = total + 1 %}
                {% endfor %}
            </div>
        </div>
    </section>


    <section class="order-atp-t-shirt">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h2>To Order an ATP shirt?</h2>
                    <p>Call or E-mail us at<br />617-926-TREE (8733)</p>
                    <p class="email-text">info@amreniatree.org</p>
                </div>
            </div>
        </div>
    </section>



    <!--Footer Section-->
    {% include('interactive/footer.html.twig') %}
    <!-- jQuery -->
    <script src="{{ asset('js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('js/owl.carousel.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>

    {#<!-- Slick Slider -->#}
    {#<script src="{{ asset('js/slick.min.js') }}"></script>#}

    <!-- Slick custom functionality -->
    <script src="{{ asset('js/sliderFunctionality.js') }}"></script>


    <!-- Custom Js Files-->
    <script src="{{ asset('js/main.js') }}"></script>

{% endblock %}

