{% extends 'base.html.twig' %}
{% block title %}<title>Armenia Tree Project - Videos</title>{% endblock %}

{% block body %}

    <section class="bridges-interactive-secondary-menu">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-xs-12">
                    <ul class="secondary-navbar">
                        <li>
                            <a href="{{ path('ecogames') }}">EcoGames</a>
                        </li>
                        <li>
                            <a href="{{ path('bbmagazine') }}">Magazines</a>
                        </li>
                        <li>
                            <a href="{{ path('videos') }}">Videos</a>
                        </li>
                        <li>
                            <a href="{{ path('tchalo') }}">Meet Tchalo!</a>
                        </li>
                        <li>
                            <a href="{{ path('coloring') }}">Coloring</a>
                        </li>
                        <li>
                            <a href="{{ path('treevia') }}">Treevia!</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4 col-xs-12 text-right">
                    <a href="{{ path('interactive') }}">
                        <img src="../img/bb-interactive.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>


    <section class="bb-videos-wrapper">
        <div class="container">
            <h4>VIDEOS</h4>
            <div class="row">
                <div class="col-md-8 col-xs-12">
                    <div class="bb-video-one" style="background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('../uploads/images/{{ top.Image }}') no-repeat; background-size: cover;">
                        <div class="title-and-play-button-wrapper">
                            {% autoescape %}
                                    <h3>{{ top.Title|raw }}</h3>
                            {% endautoescape %}
                            <a  data-toggle="modal" data-target="#bb-videos-one"><img class="play-button" src="../img/play_btn.svg" alt=""></a>
                        </div>
                    </div>
                    <div class="modal fade" id="bb-videos-one" tabindex="-1" role="dialog" aria-labelledby="bb-videos-one"
                         aria-hidden="true">
                        <div class="modal-dialogg">
                            <div class="modal-contentt">
                                <div class="modal-body">
                                    <button style="color: #ffffff; opacity: 1;" type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true">&times;</button>
                                    <div class="video-container">
                                        <iframe width="560" height="315" src="{{ top.link }}" frameborder="0"  allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    {% autoescape %}
                            <p>{{ top.Text|raw }}</p>
                    {% endautoescape %}
                </div>
            </div>
            <div class="row">
                {% for item in content %}
                    <div class="col-sm-4 col-xs-12">
                        <div class="bb-video-two" style="background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('../uploads/images/{{ item.Image }}') no-repeat; background-size: cover;">
                            <div class="title-and-play-button-wrapper">
                                {% autoescape %}
                                        <h3>{{ item.Title|raw }}</h3>
                                {% endautoescape %}
                                <a  data-toggle="modal" data-target="#m{{ item.id }}"><img class="play-button" src="../img/play_btn.svg" alt=""></a>
                            </div>
                        </div>
                        <div class="modal fade" id="m{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="m{{ item.id }}"
                             aria-hidden="true">
                            <div class="modal-dialogg">
                                <div class="modal-contentt">
                                    <div class="modal-body">
                                        <button style="color: #ffffff; opacity: 1;" type="button" class="close" data-dismiss="modal"
                                                aria-hidden="true">&times;</button>
                                        <div class="video-container">
                                            <iframe width="560" height="315" src="{{ item.link }}" frameborder="0"  allowfullscreen></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>


    <!--Footer Section-->

    <section class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <ul>
                        <li class="hidden">
                            <a href="#">Glossary</a>
                        </li>

                        <li>
                            <a href="{{ path('contact') }}">Contact Us</a>
                        </li><li>
                            <a href="#">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <ul>
                        <li class="hidden">
                            <a href="#">FAQ</a>
                        </li>
                        <li class="hidden">
                            <a href="#">Terms & Conditions</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"> </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <p> <span> Armenia Tree Project </span> <br> 400 West Cummings Park <br> Suite 3900, Woburn, MA 01801 USA <br> 617-926-TREE (8733)</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <p class="copyright-text">&copy; Copyright 1994-2019 Armenia Tree Project, a project of Armenian Assembly of America. All Rights Reserved.</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-right  social">
                    <p class="hashtag">#GetRooted</p>
                    <a target="_blank" href="https://www.facebook.com/armeniatree">
                        <img src="../img/facebook-logo.svg" alt="facebook">
                    </a>
                    <a target="_blank" href="https://twitter.com/ArmeniaTree">
                        <img src="../img/twitter-logo.svg" alt="twitter">
                    </a>
                    <a target="_blank" href="https://www.instagram.com/armeniatree/">
                        <img src="../img/instagram-logo.svg" alt="instagram">
                    </a>
                    <a target="_blank" href="https://www.youtube.com/user/ArmeniaTreeProject">
                        <img src="../img/youtube.svg" alt="youtube">
                    </a>
                </div>
            </div>
        </div>
    </section>


    <!-- jQuery -->
    <script src="{{ asset('js/jquery.js') }}"></script>

    <!-- Lightbox sliider-->
    <script src="{{ asset('js/lightbox.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>

    <!-- Custom Js Files-->
    <script src="{{ asset('js/main.js') }}"></script>

{% endblock %}